In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Assignment-1_Data.csv",delimiter=';')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Assignment-1_Data.csv'

# Yeni Bölüm

In [ ]:
df.shape

(522064, 7)

In [ ]:
#veri özeti alınır
df.describe(include='all')

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
count,522064.0,520609,522064.000000,522064,522064,388023.000000,522064
unique,21665.0,4185,NaN,19641,1285,NaN,30
top,573585.0,WHITE HANGING HEART T-LIGHT HOLDER,NaN,31.10.2011 14:41,"1,25",NaN,United Kingdom
freq,1114.0,2269,NaN,1114,48778,NaN,487622
mean,NaN,NaN,10.090435,NaN,NaN,15316.931710,NaN
std,NaN,NaN,161.110525,NaN,NaN,1721.846964,NaN
min,NaN,NaN,-9600.000000,NaN,NaN,12346.000000,NaN
25%,NaN,NaN,1.000000,NaN,NaN,13950.000000,NaN
50%,NaN,NaN,3.000000,NaN,NaN,15265.000000,NaN
75%,NaN,NaN,10.000000,NaN,NaN,16837.000000,NaN
max,NaN,NaN,80995.000000,NaN,NaN,18287.000000,NaN

In [ ]:
df.dtypes

BillNo         object
Itemname       object
Quantity        int64
Date           object
Price          object
CustomerID    float64
Country        object
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522064 entries, 0 to 522063
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      522064 non-null  object
 1   Itemname    520609 non-null  object
 2   Quantity    522064 non-null  int64
 3   Date        522064 non-null  object
 4   Price       522064 non-null  object
 5   CustomerID  388023 non-null  float64
 6   Country     522064 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 27.9+ MB

In [ ]:
#hangi nitelikte toplam kaç eksik veri olduğu bulunur
df.isna().sum()

BillNo             0
Itemname        1455
Quantity           0
Date               0
Price              0
CustomerID    134041
Country            0
dtype: int64

In [ ]:
# Itemname niteliğine ait kayıp değerler silinir.
df.drop(df[df['Itemname'].isna()].index,inplace=True)

In [ ]:
#hangi nitelikten kaç adet eksik veri olduğu bulunur
print(df.isnull().sum())
bs=df.columns[df.isnull().any()]

bs_index=list(map(lambda col:df.columns.get_loc(col),bs))

BillNo             0
Itemname           0
Quantity           0
Date               0
Price              0
CustomerID    132586
Country            0
dtype: int64

In [ ]:
df[df.Itemname.isna()]

Empty DataFrame
Columns: [BillNo, Itemname, Quantity, Date, Price, CustomerID, Country]
Index: []

In [ ]:
df.drop(df[df['Itemname'].isna()].index,inplace=True)

In [ ]:
df["Itemname"]=df["Itemname"].fillna(df["Itemname"].mode())

In [ ]:
df.shape

(520609, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520609 entries, 0 to 522063
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      520609 non-null  object
 1   Itemname    520609 non-null  object
 2   Quantity    520609 non-null  int64
 3   Date        520609 non-null  object
 4   Price       520609 non-null  object
 5   CustomerID  388023 non-null  float64
 6   Country     520609 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 31.8+ MB

In [ ]:
df[df['CustomerID'].isna()]

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
1410,536544,DECORATIVE ROSE BATHROOM BOTTLE,1,01.12.2010 14:32,"2,51",NaN,United Kingdom
1411,536544,DECORATIVE CATS BATHROOM BOTTLE,2,01.12.2010 14:32,"2,51",NaN,United Kingdom
1412,536544,POLKADOT RAIN HAT,4,01.12.2010 14:32,"0,85",NaN,United Kingdom
1413,536544,RAIN PONCHO RETROSPOT,2,01.12.2010 14:32,"1,66",NaN,United Kingdom
1414,536544,VINTAGE SNAP CARDS,9,01.12.2010 14:32,"1,66",NaN,United Kingdom
...,...,...,...,...,...,...,...
521695,581498,JUMBO BAG RED RETROSPOT,5,09.12.2011 10:26,"4,13",NaN,United Kingdom
521696,581498,JUMBO BAG BAROQUE BLACK WHITE,4,09.12.2011 10:26,"4,13",NaN,United Kingdom
521697,581498,LADIES & GENTLEMEN METAL SIGN,1,09.12.2011 10:26,"4,96",NaN,United Kingdom
521698,581498,S/4 CACTI CANDLES,1,09.12.2011 10:26,"10,79",NaN,United Kingdom
521699,581498,DOTCOM POSTAGE,1,09.12.2011 10:26,"1714,17",NaN,United Kingdom

In [ ]:
df.groupby(['Country'])['BillNo'].nunique().sort_values(ascending=False)

Country
United Kingdom          18669
Germany                   457
France                    392
Belgium                    98
Netherlands                95
Spain                      90
Portugal                   58
Australia                  57
Switzerland                54
Italy                      38
Sweden                     36
Norway                     36
Poland                     19
Japan                      19
Austria                    17
Unspecified                13
Hong Kong                  11
Israel                      8
Iceland                     7
Singapore                   7
Greece                      5
USA                         5
Malta                       5
Lithuania                   4
United Arab Emirates        3
Bahrain                     3
Lebanon                     1
RSA                         1
Saudi Arabia                1
Brazil                      1
Name: BillNo, dtype: int64

#Veri setimizi birliktelik analizini hazırlıyoruz.

In [ ]:
dfprep = df.groupby(['BillNo','Itemname']).agg({'Quantity':'sum'}).reset_index().pivot(index='BillNo',columns='Itemname').fillna(0)
dfprep.columns = dfprep.columns.droplevel(0)

In [ ]:
dfprep.head()

NameError: ignored

In [ ]:
dfprep.reset_index(inplace=True)
dfprep.head()

NameError: ignored

In [ ]:
#total number of items
dfprep.drop(dfprep.columns[0],inplace=True,axis=1)

In [ ]:
dfprep = dfprep.applymap(lambda x: True if x>0 else False)

In [ ]:
dfprep

Itemname,index,,*Boombox Ipod Classic,*USB Office Mirror Ball,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,...,thrown away-can't sell,thrown away-can't sell.,wet/rusty,wrong barcode,wrong barcode (22467),wrong code,wrong code?,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
0,0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8065,8065,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8066,8066,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8067,8067,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8068,8068,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8069,8069,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
frequent_itemsets = apriori(dfprep, min_support= 0.01, use_colnames=True, max_len = 2)

NameError: ignored

In [ ]:
frequent_itemsets

In [ ]:
rules = association_rules(frequent_itemsets, metric="lift",  min_threshold = 1.5)
rules.shape

In [ ]:
rules

NameError: ignored

In [ ]:
rules.sort_values('lift',ascending=False)

NameError: ignored

In [ ]:
rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
170,(BEADED CRYSTAL HEART PINK ON STICK),(DOTCOM POSTAGE),0.013259,0.043618,0.013135,0.990654,22.711873,0.012557,102.332838,0.968816
169,(BEADED CRYSTAL HEART GREEN ON STICK),(DOTCOM POSTAGE),0.010781,0.043618,0.010657,0.988506,22.662618,0.010187,83.205204,0.966292
740,(HERB MARKER ROSEMARY),(HERB MARKER THYME),0.016729,0.016976,0.015613,0.933333,54.978102,0.015329,14.745353,0.998515
714,(HERB MARKER BASIL),(HERB MARKER MINT),0.016481,0.017844,0.015366,0.932331,52.249373,0.015071,14.514085,0.997297
722,(HERB MARKER CHIVES),(HERB MARKER MINT),0.015118,0.017844,0.014002,0.926230,51.907445,0.013733,13.313672,0.995789
...,...,...,...,...,...,...,...,...,...,...
414,(WHITE HANGING HEART T-LIGHT HOLDER),(DOORMAT UNION FLAG),0.136555,0.044114,0.010161,0.074410,1.686770,0.004137,1.032732,0.471542
1998,(WHITE HANGING HEART T-LIGHT HOLDER),(VINTAGE PAISLEY STATIONERY SET),0.136555,0.018711,0.010161,0.074410,3.976755,0.007606,1.060177,0.866921
322,(WHITE HANGING HEART T-LIGHT HOLDER),(CHOCOLATE HOT WATER BOTTLE),0.136555,0.031227,0.010161,0.074410,2.382897,0.005897,1.046655,0.672125
377,(WHITE HANGING HEART T-LIGHT HOLDER),(CREAM CUPID HEARTS COAT HANGER),0.136555,0.021933,0.010037,0.073503,3.351226,0.007042,1.055661,0.812561
1894,(WHITE HANGING HEART T-LIGHT HOLDER),(RETROSPOT HEART HOT WATER BOTTLE),0.136555,0.029492,0.010037,0.073503,2.492298,0.006010,1.047502,0.693459

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.